{% extends "base.html" %}
{% load static %}                   <!-- These two must be inluded (extends+load) -->

{% block title %}
Online House Rental | Apartments
{% endblock title %}

<!--have to put css and other link in more_link block-->

{% block more_link %}                              
<link rel="stylesheet" href="{% static 'css/demo_core.css' %}">             <!-- used from core app(online_house_app) -->
<link rel="stylesheet" href="{% static 'css/demo_for_rental_app.css' %}">   <!-- used from rental app -->
{% endblock more_link %}


{% block  home_content %}


<div align="center" class="container-fluid">
    
    <br><br>

    <h1 class="hh1"> Apartments Post Page </h1>     
    <h1 class="hh2"> Apartments Post Page </h1>


</div>


{% endblock home_content %}
