<div class="pt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-auto mx-auto">
                <div class="d-flex flex-row mb-2">
                    <div class="order-2 p-2"><a class="btn btn-outline-success btn-lg" data-bs-toggle="modal" data-bs-target="#signupModal1" href="{% url 'sign_up_landlord' %}">Landlord</a></div>
                    <div class="order-1 p-2"><a class="btn btn-outline-success btn-lg" data-bs-toggle="modal" data-bs-target="#signupModal2" href="{% url 'sign_up_renter' %}">Renter</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
