
<div class="pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="card card-body">
                    <h2>Sign Up</h2>
                    <h6>As Landlord</h6>
                    <form id="submitForm_signup_1" action="{%url 'sign_up_landlord' %}" method="post" class="row g-3 needs-validation-l" novalidate>
                        {% csrf_token %}
                        <div class="form-group required">
                            <lSabel for="firstname">First Name</lSabel>
                            <input type="text" class="form-control text-lowercase" id="firstname" name="firstname" value="" pattern="[a-zA-Z\s]{2,}" maxlength="20" required>
                            <div class="invalid-feedback">
                                This field is required.
                            </div>
                        </div>
                        <div class="form-group required">
                            <lSabel for="lastname">Last Name</lSabel>
                            <input type="text" class="form-control text-lowercase" id="lastname" name="lastname" pattern="[a-zA-Z\s]{2,}" maxlength="20" value=""  required>
                            <div class="invalid-feedback">
                                This field is required.
                            </div>
                        </div>
                        <div class="form-group required">
                            <lSabel for="phone">Phone</lSabel>
                            <input type="phone" class="form-control text-lowercase" id="phone" name="phone" pattern="^\d{11}$" value="" required>
                            <div class="invalid-feedback">
                                Invalid phone number.
                            </div>
                        </div>


                        <!-- No Need -->

                        <!-- <div class="form-group required">
                            <lSabel for="address">Address</lSabel>
                            <input type="text" class="form-control text-lowercase" id="address" name="address" pattern="[a-zA-Z\s,]{3,}" maxlength="40" value="" required>
                            <div class="invalid-feedback">
                                Invalid address.
                            </div>
                        </div> -->


                        <div class="form-group required"><label for="area">Area</label>
                            <select name="area" id="area">
                                <option value="banasree">Banasree</option>
                                <option value="rampura">Rampura</option>
                                <option value="badda">Badda</option>
                                <option value="uttara">Uttara</option>
                            </select>
                        </div>

                        <div class="form-group required">
                            <lSabel for="username">User Name</lSabel>
                            <input type="text" class="form-control text-lowercase" id="username" name="username" pattern="[a-z0-9]{5,}" value="" required>
                            <div class="invalid-feedback">
                                Invalid Username.
                            </div>
                        </div>
                        <div class="form-group required">
                            <lSabel for="email">Email</lSabel>
                            <input type="email" class="form-control text-lowercase" id="email" name="email" value="" required>
                            <div class="invalid-feedback">
                                Invalid Email.
                            </div>
                        </div>
                        
                        <div class="form-group required">
                            <label class="d-flex flex-row align-items-center" for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" maxlength="15" value="" 
                                    onchange="form.confirmpassword.pattern = RegExp.escape(this.value);" required>
                            <div class="invalid-feedback">
                                Password must contain 6 to 15 characters including Uppercas,lowercase and numbers.
                            </div>
                        </div>

                        <div class="form-group required">
                            <label class="d-flex flex-row align-items-center" for="password">Confirm Password</label>
                            <input type="password" class="form-control" required="" id="confirmpassword" name="password" value="" required>
                            <div class="invalid-feedback">
                                Invalid Password (Must be same)
                            </div>
                        </div>

                        <div class="form-group pt-1">
                            <button class="btn btn-primary btn-block" style="width:100%" type="submit">Create Account</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>





<script>
    (() => {
        'use strict'
      
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation-l')
      
        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
          form.addEventListener('submit', event => {

            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }
      
            form.classList.add('was-validated')
          }, false)
        })
      })()
</script>

<script>
    // polyfill for RegExp.escape
    if(!RegExp.escape) {
      RegExp.escape = function(s) {
        return String(s).replace(/[\\^$*+?.()|[\]{}]/g, '\\$&');
      };
    }
  
  </script>


