{% extends "base.html" %}
{% load static %}

{% block title %}
Online House Rental | Bookmarks
{% endblock title %}

{% block more_link %}
<style>
   @import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Josefin+Sans:wght@100;500&family=Kanit&family=Poppins:wght@100&family=Roboto+Condensed:wght@300;700&family=Ubuntu:wght@300&display=swap');
</style>
<link href="{% static 'css/profile.css' %}" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock more_link %}

{% block home_content %}


<div align="center" class="container-fluid">
    <div class="profile-content">
        <!-- begin tab-content -->
        <div class="tab-content p-0">
           <!-- begin #profile-post tab -->
           <div class="tab-pane fade active show" id="profile-post">
              <!-- begin timeline -->
              <ul class="timeline">

                 
                 {% for i in "x"|rjust:"10" %}
                 <li>
                    <!-- begin timeline-time -->
                    <div class="timeline-time">
                          <span class="date">today</span>
                          <span class="time">04:20</span>
                    </div>
                    <!-- end timeline-time -->
                    <!-- begin timeline-icon -->
                    <div class="timeline-icon">
                          <a href="javascript:;">&nbsp;</a>
                    </div>
                    <!-- end timeline-icon -->
                    <!-- begin timeline-body -->
                    <div class="timeline-body">
                          <div class="timeline-header">
                             <span class="userimage">
                                {% if p.profile_image.url is not None %}
                                <img src="{{p.profile_image.url}}" alt="{{p.first_name}}">
                                {% else %}
                                   <img src="{% static 'images/blank_profile_image.png' %}" alt="{{p.first_name}}">
                                {% endif %}
                             </span>
                             <span class="username"><a href="javascript:;">#{{user.username}}</a> <small></small></span>
                             <span class="pull-right text-muted">
                                <a href="">18 Reviews</a>
                             </span>
                          </div>
                          <div class="timeline-content">
                             <a href=" {% url 'profile_detail_post' user.username 'slug1212' %}" style="text-decoration: none;">
                             <div class="card mb-3" style="max-width: 740px;">
                                <div class="row g-0">
                                  <div class="col-md-4">
                                    <!-- <img src="{% static 'images/blank_profile_image.png' %}" class="img-fluid rounded-start" alt="..."> -->
                                      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                                         <div class="carousel-inner">
                                         <div class="carousel-item active">
                                            <img src="{% static 'images/blank_profile_image.png' %}" class="d-block w-100" alt="...">
                                         </div>
                                         <div class="carousel-item">
                                            <img src="..." class="d-block w-100" alt="...">
                                         </div>
                                         <div class="carousel-item">
                                            <img src="{% static 'images/blank_profile_image.png' %}" class="d-block w-100" alt="...">
                                         </div>
                                         </div>
                                      </div>
                                  </div>
                                  <div class="col-md-8">
                                    <div class="card-body">
                                      <h5 class="card-title">
                                         <font style="font-size: small;">BDT</font> 21 Thousand <small style="font-size:x-small;">Available</small> 
                                      </h5>

                                      For Rent | 4 Beds 4 Baths | Area : 1850 sqft


                                      <p class="card-text"><h6>An Apartment Is Ready For Rent At Uttara</h6></p>
                                      <p class="card-text">Sector 6, Uttara, Dhaka</p>
                                      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                             </a>

                          </div>
                          
                          <div class="timeline-likes">
                             <div class="stats-right">
                                <span class="stats-text">259 Shares</span>
                                <span class="stats-text">21 Comments</span>
                             </div>
                             <div class="stats">
                                <span class="stats-total">4.3k</span>
                             </div>
                          </div>
                          <div class="d-flex justify-content-evenly timeline-footer">
                             <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="face fa fa-bookmark fa-fw fa-lg m-r-3"></i> Save </a>
                             <a href="javascript:;" class="m-r-15 text-inverse-lighter" data-bs-toggle="modal" data-bs-target="#comment"><i class="face fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a>
                             <a href="javascript:;" class="m-r-15 text-inverse-lighter" data-bs-toggle="modal" data-bs-target="#share"><i class="face fa fa-share fa-fw fa-lg m-r-3"></i> Share</a>
                          </div>
                    </div>
                    <!-- end timeline-body -->
                 </li>
                 {% endfor %}
                    


                 <!-- begin timeline-icon -->
                 <div class="timeline-icon">
                       <a href="javascript:;">&nbsp;</a>
                 </div>
                 <!-- end timeline-icon -->
                 <!-- begin timeline-body -->
                 <div class="timeline-body">
                       Loading...
                 </div>
                 <!-- begin timeline-body -->
                 </li>
              </ul>
              <!-- end timeline -->
           </div>
           <!-- end #profile-post tab -->
        </div>
        <!-- end tab-content -->
     </div>

</div>


{% endblock home_content %}