{% extends "base.html" %}
{% load static %}

{% block title %}
Online House Rental | {{ user.username }}
{% endblock title %}


{% block more_link %}
<style>
   @import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Josefin+Sans:wght@100;500&family=Kanit&family=Poppins:wght@100&family=Roboto+Condensed:wght@300;700&family=Ubuntu:wght@300&display=swap');
</style>
<link href="{% static 'css/profile.css' %}" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock more_link %}
    

{% block  home_content %}



   

   

<div class="container">


    <div class="row pt-3">
        <div class="col">
            <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'profile_post' user.username %}">Profile</a></li>
                <li class="breadcrumb-item active" aria-current="page">Zakir Hossain Housing Society, South Khulshi, Khulshi, Chattogram</li>
            </ol>
            </nav>
        </div>
    </div>






    
{% comment %}

   <div class="row">
      <div class="col-md-12">
         <div id="content" class="content content-full-width">
            <!-- begin profile -->
            <div class="profile">
               <div class="profile-header">
                  <!-- BEGIN profile-header-cover -->
                  <div class="profile-header-cover"></div>
                  <!-- END profile-header-cover -->
                  <!-- BEGIN profile-header-content -->
                  <div class="profile-header-content">
                     <!-- BEGIN profile-header-img -->

                     <div class="profile-header-img">
                        {% if p.profile_image.url is not None %}
                           <img src="{{p.profile_image.url}}" alt="{{p.first_name}}">
                        {% else %}
                           <img src="{% static 'images/blank_profile_image.png' %}" alt="{{p.first_name}}">
                        {% endif %}
                        
                     </div>
                     <!-- END profile-header-img -->
                     <!-- BEGIN profile-header-info -->
                     <div class="profile-header-info">
                        <h4 class="m-t-10 m-b-5">{{p.first_name}} ({{p.last_name}}) <small>#{{user.username}}</small></h4>
                        <p class="m-b-10">
                            Email : {{user.email}}  <br>
                            Mobile : {{p.phone_number}} <br>
                            UserType : {{user.role}} <br>
                            UserID : {{user.id}}
                            
                        </p>
                        <a href="{% url 'edit_profile_general' user.username %}" class="btn btn-sm btn-info mb-2">Edit Profile</a>
                        <a href="#" class="btn btn-sm btn-info mb-2">Create Post</a>
                     </div>
                     <!-- END profile-header-info -->
                  </div>
                  <!-- END profile-header-content -->
                  <!-- BEGIN profile-header-tab -->
                  <ul class="profile-header-tab nav nav-tabs" style="align-content: center;">
                     <li class="nav-item"><a href="{% url 'profile_post' user.username %}" target="posts" class="nav-link_ active show">POSTS</a></li>
                     <li class="nav-item"><a href="#" target="about" class="nav-link_">ABOUT</a></li>
                     <li class="nav-item"><a href="https://www.bootdey.com/snippets/view/profile-photos" target="__blank" class="nav-link_">PHOTOS</a></li>
                     <li class="nav-item"><a href="https://www.bootdey.com/snippets/view/profile-videos"  target="__blank" class="nav-link_">VIDEOS</a></li>
                  </ul>
                  <!-- END profile-header-tab -->
               </div>
            </div>
            <!-- end profile -->
         
            {% endcomment %}    

            <div class="grid">
               <div class="item1">
                 <img
                   class="grid-image"
                   src="https://images-cdn.bproperty.com/thumbnails/1571217-800x600.webp"
                   alt="image 1"
                 />
               </div>
               <div class="item2">
                 <img
                   class="grid-image"
                   src="https://images-cdn.bproperty.com/thumbnails/1571221-800x600.webp"
                   alt="image 2"
                 />
               </div>
               <div class="item3">
                 <img
                   class="grid-image"
                   src="https://images-cdn.bproperty.com/thumbnails/1571222-800x600.webp"
                   alt="image 3"
                 />
               </div>
               <div class="item4">
                 <img
                   class="grid-image"
                   src="https://images-cdn.bproperty.com/thumbnails/1571217-800x600.webp"
                   alt="image 4"
                 />
               </div>
               <div class="item5">
                 <img
                   class="grid-image"
                   src="https://images-cdn.bproperty.com/thumbnails/1571225-800x600.webp"
                   alt="image 5"
                 />
               </div>
               <div class="item6">
                 <img
                   class="grid-image"
                   src="https://images-cdn.bproperty.com/thumbnails/1571226-800x600.webp"
                   alt="image 6"
                 />
               </div>
               <div class="item7">
                 <img
                   class="grid-image"
                   src="https://images-cdn.bproperty.com/thumbnails/1571219-800x600.webp"
                   alt="image 7"
                 />
               </div>
             </div>
            <!-- begin profile-content -->
            <div class="profile-content">
               <!-- begin tab-content -->
               <div class="tab-content p-0">
                  <!-- begin #profile-post tab -->
                  <div class="tab-pane fade active show" id="profile-post">

                           <div class="timeline-body">
                                 <div class="timeline-content">
                                    <div class="card mb-3">
                                       <div class="row g-0">
                                          <div class="col-md-8">
                                           <div class="card-body">
                                             <p class="card-text"><small class="text-body-secondary">Post Date : 24-Jan-2023</small>
                                                <span class="pull-right text-muted">
                                                   <button type="button" class="btn btn-outline-primary">Save</button>
                                                   <button type="button" class="btn btn-outline-primary">Response</button>
                                                   <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#payment" >$ Payment</button>

                                                </span>
                                             </p>

                                             <h5 class="card-title">
                                                <font style="font-size: small;">BDT</font> 21 Thousand <small style="font-size:x-small;">Available</small>

                                             </h5>

                                          
                                             <h6>For Rent | 4 Beds 4 Baths | Area : 1850 sqft</h6>

                                             <p class="card-text"><h5>An Apartment Is Ready For Rent At Uttara</h5></p>

                                             
                                             <p class="card-text">With several noteworthy facilities, this vacant flat assures all time water, gas and electricity. 
                                                An active elevator takes you to this floor in that building right to this flat. The interior is well maintained and bears the look which appeals to inhabitants.
                                                 A large number of groceries, school, colleges and Universities are located in the nearby area. The location is very pleasant to settle in with your family.  </p>


                                             
                                    

                                             <h5>Property Information</h5>
                                             <p class="card-text">Monthly Rent : 21000 TK</p>
                                             <p class="card-text">Rent For : Family, Bachelor</p>
                                             <p class="card-text">Area : 1850 sqft</p>
                                             <p class="card-text">Numbers of Beds : 4</p>
                                             <p class="card-text">Numbers of Bath : 4</p>
                                             <p class="card-text">Drawing Room Status : Not Available</p>
                                             <p class="card-text">Dinning Room Status : Available</p>
                                             <p class="card-text">Kitchen Room Status : Available</p>
                                             <p class="card-text">Electric Meter Type : Post-Paid</p>
                                             <p class="card-text">Gass Line Type : Pre-Paid </p>

                                       
                                             <h5 class="card-title">
                                                Service Charge
                                             </h5>

                                             <p class="card-text">Gas Bill : 600 TK</p>
                                             <p class="card-text">Water Bill : 500 TK</p>
                                             <p class="card-text">Utility Bill : 2000 TK </p>
                                             <h6></h6>
                                             <h6></h6>
                                             <h6></h6>

                                             <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                                           </div>
                                         </div>
                                       </div>
                                    </div>



                                    <div class="card mb-3">
                                       <div class="row g-0">
                                          <div class="col-md-8">
                                           <div class="card-body">
                                             <h3 class="card-title">
                                                Reviews
                                             </h3>

                                             <h5>
                                                5 starts selection

                                                <button type="button" class="btn btn-outline-primary">Submit</button>
                                             </h5>



 
                                           </div>
                                         </div>
                                       </div>
                                    </div>





                                 </div>
                           </div> 
                           <!-- end timeline-body -->
                  
   

               {% comment %} <div class="gallery_container">
                  <div class="gallery1">Towfiw</div>
                  <div class="gallery2">sdf</div>
                  <div class="gallery3">sdfsdfsdfsf</div>
                  <div class="gallery4">sdffsdfsdfsdfsdf</div>
               </div> {% endcomment %}
                        <!-- begin timeline-body -->

                  </div>
                  <!-- end #profile-post tab -->
               </div>
               <!-- end tab-content -->
            </div>
            <!-- begin profile-content -->
         </div>
      </div>
   </div>
</div>










<!-- Make Payment Modal -->
<div class="modal fade" id="payment" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="payment" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <div class="p-2 ">
           <h2>Payment</h2>
       </div>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         {% include 'Profile/payment.html' %}
       </div>
     </div>
   </div>
 </div>




 <!-- Paid Alert -->
<div class="modal fade" id="payment_alert" tabindex="-1" aria-labelledby="payment_alert" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-body">
         {% include 'Profile/payment_alert.html' %}
       </div>
     </div>
   </div>
 </div>


{% endblock home_content %}


