{% extends "base.html" %}
{% load static %}

{% block title %}
Online House Rental | {{ user.username }}
{% endblock title %}


{% block more_link %}
<style>
   @import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Josefin+Sans:wght@100;500&family=Kanit&family=Poppins:wght@100&family=Roboto+Condensed:wght@300;700&family=Ubuntu:wght@300&display=swap');
</style>
<link href="{% static 'css/profile.css' %}" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock more_link %}
    

{% block  home_content %}




<div class="container">
    <div class="row pt-3">
        <div class="col">
            <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Profile</li>
            </ol>
            </nav>
        </div>
    </div>

   <div class="row">
      <div class="col-md-12">
         <div id="content" class="content content-full-width">
            <!-- begin profile -->
            <div class="profile">
               <div class="profile-header">
                  <!-- BEGIN profile-header-cover -->
                  <div class="profile-header-cover"></div>
                  <!-- END profile-header-cover -->
                  <!-- BEGIN profile-header-content -->
                  <div class="profile-header-content">
                     <!-- BEGIN profile-header-img -->

                     <div class="profile-header-img">
                        {% if p.profile_image.url is not None %}
                           <img src="{{p.profile_image.url}}" alt="{{p.first_name}}">
                        {% else %}
                           <img src="{% static 'images/blank_profile_image.png' %}" alt="{{p.first_name}}">
                        {% endif %}
                        
                     </div>
                     <!-- END profile-header-img -->
                     <!-- BEGIN profile-header-info -->
                     <div class="profile-header-info">
                        <h4 class="m-t-10 m-b-5">{{p.first_name}} ({{p.last_name}}) <small>#{{user.username}}</small></h4>
                        <p class="m-b-10">
                            Email : {{user.email}}  <br>
                            <!-- will use if else -->
                            Mobile : {{p.phone_number}} <br>
                            UserType : {{user.role}} <br>
                            UserID : {{user.id}}
                            
                        </p>
                        <a href="{% url 'edit_profile_general' user.username %}" class="btn btn-outline-info btn-sm">Edit Profile</a>
                        
                        {% if user.role == 'L' %}
                           <a href="{% url 'create_post' user.username %}" class="btn btn-outline-info btn-sm">Create Post</a>
                        {% endif %}
                           
                     </div>
                     <!-- END profile-header-info -->
                  </div>
                  <!-- END profile-header-content -->
                  <!-- BEGIN profile-header-tab -->
                  <ul class="profile-header-tab nav nav-tabs" style="align-content: center;">
                     <li class="nav-item"><a href="{% url 'profile_post' user.username %}" target="posts" class="nav-link_ active show">POSTS</a></li>
                     <li class="nav-item"><a href="#" target="about" class="nav-link_">ABOUT</a></li>
                     <li class="nav-item"><a href="https://www.bootdey.com/snippets/view/profile-photos" target="__blank" class="nav-link_">PHOTOS</a></li>
                  </ul>
                  <!-- END profile-header-tab -->
               </div>
            </div>
            <!-- end profile -->



            



            <!-- begin profile-content -->
            <div class="profile-content">
               <!-- begin tab-content -->
               <div class="tab-content p-0">
                  <!-- begin #profile-post tab -->
                  <div class="tab-pane fade active show" id="profile-post">
                     <!-- begin timeline -->
                     <ul class="timeline">

                        
                        {% for i in pr %}
                        <li>
                           <!-- begin timeline-time -->
                           <div class="timeline-time">
                              <span class="date">{{ i.post_date|date:"d F, Y" }}</span>
                              <span class="time">{{ i.post_date|date:"h:iA" }}</span>
                           </div>
                           <!-- end timeline-time -->
                           <!-- begin timeline-icon -->
                           <div class="timeline-icon">
                                 <a href="javascript:;">&nbsp;</a>
                           </div>
                           <!-- end timeline-icon -->
                           <!-- begin timeline-body -->
                           <div class="timeline-body">
                                 <div class="timeline-header">
                                    <span class="userimage">
                                       {% if i.Landlord.profile_image.url is not None %}
                                       <img src="{{i.Landlord.profile_image.url}}" alt="{{p.first_name}}">
                                       {% else %}
                                          <img src="{% static 'images/blank_profile_image.png' %}" alt="{{p.first_name}}">
                                       {% endif %}
                                    </span>
                                    <span class="username"><a href="{% url 'profile_post' i.Landlord.user.username %}">{{i.Landlord.first_name}}</a> <small></small></span>
                                    <span class="pull-right text-muted">
                                       <a href="{% url 'profile_post' i.Landlord.user.username %}">#{{i.Landlord.user.username}}</a>
                                    </span>
                                 </div>

                                 <div class="timeline-content">
                                    <a href=" {% url 'profile_detail_post' i.Landlord.user.username i.slug %}" style="text-decoration: none;">
                                    <div class="card mb-3" style="max-width: 740px;">
                                       <div class="row g-0">
                                         <div class="col-md-4">
                                           <!-- <img src="{% static 'images/blank_profile_image.png' %}" class="img-fluid rounded-start" alt="..."> -->
                                             <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                                                <div class="carousel-inner">
                                                   {% for im in pr_img %}
                                                   
                                                   {% if i.id is im.Rental_Property.id %}
                                                   <div class="carousel-item active">
                                                       <img src="{{im.image.url}}" class="d-block w-100" alt="...">
                                                   </div>
                                                   {% endif %}
                                                       

                                                   {% endfor %}

                                               </div>
                                             </div>
                                         </div>
                                         <div class="col-md-8">
                                          <div class="card-body">
                                             <h5 class="card-title">
                                                <font style="font-size: small;">BDT</font> {{i.rent_charge}} TK <small style="font-size:x-small;">{{i.rental_status}}</small> 
                                             </h5>

                                             Rent for {{i.rents_for}} | {{i.numbers_of_beds}} Beds {{i.numbers_of_bath}} Baths | Area : {{i.apartment_area}} {{i.areunit}}


                                             <p class="card-text"><h6>{{i.title}}</h6></p>
                                             <p class="card-text">{{i.street}} {{i.area}} {{i.city}}-{{i.zip}}</p>
                                             <p class="card-text"><small class="text-body-secondary">Last updated {{i.last_updated}}</small></p>
                                           </div>
                                         </div>
                                       </div>
                                     </div>
                                    </a>

                                 </div>
                                 

                                 <div class="timeline-likes">
                                    <div class="stats-right">
                                       <span class="stats-text">21 Responses</span>
                                    </div>
                                    <div class="stats">
                                       <span class="stats-text">13 Reviews</span>
                                       <span class="stats-text">Rating : 4.5</span>
                                    </div>
                                 </div>
                                 <div class="d-flex justify-content-evenly timeline-footer">
                                    <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="face fa fa-bookmark fa-fw fa-lg m-r-3"></i> Save </a>
                                    <a href="javascript:;" class="m-r-15 text-inverse-lighter" data-bs-toggle="modal" data-bs-target="#comment"><i class="face fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a>
                                    <a href="javascript:;" class="m-r-15 text-inverse-lighter" data-bs-toggle="modal" data-bs-target="#share"><i class="face fa fa-share fa-fw fa-lg m-r-3"></i> Share</a>
                                 </div>
                           </div>
                           <!-- end timeline-body -->
                        </li>
                        {% endfor %}
                           


                        <!-- begin timeline-icon -->
                        <div class="timeline-icon">
                              <a href="javascript:;">&nbsp;</a>
                        </div>
                        <!-- end timeline-icon -->
                        <!-- begin timeline-body -->
                        <div class="timeline-body">
                              Loading...
                        </div>
                        <!-- begin timeline-body -->
                        </li>
                     </ul>
                     <!-- end timeline -->
                  </div>
                  <!-- end #profile-post tab -->
               </div>
               <!-- end tab-content -->
            </div>
            <!-- begin profile-content -->
         </div>
      </div>
   </div>
</div>





<!-- Comment -->
<div class="modal fade" id="comment" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="comment" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <div class="p-2 ">
           <h2>Comment</h2>
       </div>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         {% include 'Profile/Modal/comment.html' %}
       </div>
     </div>
   </div>
 </div>

 <!-- share -->
 <div class="modal fade" id="share"  tabindex="-1" aria-labelledby="share" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <div class="p-2 ">
           <h2>Share Link</h2>
       </div>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         {% include 'Profile/Modal/share_link.html' %}
       </div>
     </div>
   </div>
 </div>

{% endblock home_content %}


