{% extends "base.html" %}
{% load static %}

{% block title %}
Online House Rental | Homepage
{% endblock title %}

{% block more_link %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock more_link %}

{% block home_content %}

<div class="home-container">
    <div class="home-title">
        <p>
            Lorem ipsum dolor sit amet.
        </p>
        <h1>
            Lorem, ipsum dolor.
        </h1>
        <div class="home-btns">
            <button class="learn-btn">
                Learn More
            </button>
            <button class="contact-btn">
                Contact us
            </button>
        </div>
    </div>
    <div class="booking">
        <h2>
            Book Your Apartment
        </h2>
        <form class="form">
            <input class="full-name" type="text" placeholder="full-name">
            <div class="input-container">
                <input class="input-class" type="text" placeholder="check-in">
                <input class="input-class" type="text" placeholder="check-out">
            </div>
            <div class="input-container">
                <input class="input-class" type="text" placeholder="check-in">
                <input class="input-class" type="text" placeholder="check-out">
            </div>
            <div class="input-container">
                <input class="input-class" type="text" placeholder="check-in">
                <input class="input-class" type="text" placeholder="check-out">
            </div>
            <button class="learn-btn book-btn">
                Book Apartment
            </button>
        </form>
    </div>

    <div class="home-posts">
        <div class="home-post">
            <div class="post-image">
                <img src="https://images.unsplash.com/photo-1502672260266-1c1ef2d93688?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1380&q=80" alt="post-image">
            </div>
            <div class="post-content">
                <h1>Lorem, ipsum.</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus placeat natus, atque laboriosam ex iste.</p>
                <button class="learn-btn">
                    Read More
                </button>
            </div>
        </div>

        <div class="home-post">
            <div class="post-image">
                <img src="https://images.unsplash.com/photo-1502672260266-1c1ef2d93688?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1380&q=80" alt="post-image">
            </div>
            <div class="post-content">
                <h1>Lorem, ipsum.</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus placeat natus, atque laboriosam ex iste.</p>
                <button class="learn-btn">
                    Read More
                </button>
            </div>
        </div>

        <div class="home-post">
            <div class="post-image">
                <img src="https://images.unsplash.com/photo-1502672260266-1c1ef2d93688?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1380&q=80" alt="post-image">
            </div>
            <div class="post-content">
                <h1>Lorem, ipsum.</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus placeat natus, atque laboriosam ex iste.</p>
                <button class="learn-btn">
                    Read More
                </button>
            </div>
        </div>
    </div>
</div>


{% endblock home_content %}