

<div>

    <div class="timeline-comment-box">
        <div class="user"><img src="https://bootdey.com/img/Content/avatar/avatar1.png"></div>
        <div class="input">
           <form action="">
           <div class="input-group">
                 
                 <span>
                    Very bad
                 </span>
           </div>
           </form>
        </div>
     </div>

     <div class="timeline-comment-box">
        <div class="user"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"></div>
        <div class="input">
           <form action="">
           <div class="input-group">
                 
                 <span>
                    Very Very bad
                 </span>
           </div>
           </form>
        </div>
     </div>

     <div class="timeline-comment-box">
        <div class="user"><img src="https://bootdey.com/img/Content/avatar/avatar4.png"></div>
        <div class="input">
           <form action="">
           <div class="input-group">
                 
                 <span>
                    Very Very Very bad
                 </span>
           </div>
           </form>
        </div>
     </div>
    




    <div class="timeline-comment-box">
        <div class="user"><img src="https://bootdey.com/img/Content/avatar/avatar2.png"></div>
        <div class="input">
           <form action="">
           <div class="input-group">
                 <input type="text" class="form-control rounded-corner me-3" placeholder="Write a comment...">
                 <span class="input-group-btn p-l-10">
                 <button class="btn btn-outline-info" type="button">Comment</button>
                 </span>
           </div>
           </form>
        </div>
     </div>

</div>



