<style>
    h6{
        font-weight: bold;
    }
    .noti-msg{
        margin: 10px auto;
        background-color: rgb(215, 231, 255);
        border-radius: 10px;
        padding: 10px 10px 5px 10px ;
    }
    .noti-cmnt{
        margin: 10px auto;
        background-color: rgb(214, 255, 239);
        border-radius: 10px;
        padding: 10px 10px 5px 10px;
    }
    .noti-msg-icon{
        width: 25px;
        height: 25px;
    }
</style>

<div class="container-fluid">
    <div class="noti-msg">
        <h6><img class="noti-msg-icon" src="https://o.remove.bg/downloads/93f09a4a-64e1-4fd7-aa6f-85ae0112ef1a/image-removebg-preview.png" alt="">Message</h6>
        <p>are you available to chat?</p>
    </div>
    <div class="noti-cmnt">
        <h6><img class="noti-msg-icon" src="https://o.remove.bg/downloads/4e66cd6c-a45f-46d2-8f88-31835e6fa95e/image-removebg-preview.png" alt="">Comment</h6>
        <p>nice house</p>
    </div>
    <div class="noti-cmnt">
        <h6><img class="noti-msg-icon" src="https://o.remove.bg/downloads/4e66cd6c-a45f-46d2-8f88-31835e6fa95e/image-removebg-preview.png" alt="">Comment</h6>
        <p>that's a nice balcony there</p>
    </div>
    <div class="noti-msg">
        <h6><img class="noti-msg-icon" src="https://o.remove.bg/downloads/93f09a4a-64e1-4fd7-aa6f-85ae0112ef1a/image-removebg-preview.png" alt="">Message</h6>
        <p>I want to rent an apartment</p>
    </div>
</div>