{% extends "base.html" %}
{% load static %}

{% block title %}
Home Rental | Trends
{% endblock title %}

{% block more_link %}
<link rel="stylesheet" href="{% static 'css/trends.css' %}">
{% endblock more_link %}

{% block home_content %}

<div class="home-container">
    <div class="home-title">

        <h1>
            Trends and Apartments
        </h1>
        <!-- <div class="home-btns">
            <button class="learn-btn">
                Learn More
            </button>
            <button class="contact-btn">
                Contact us
            </button>
        </div> -->
    </div>


    <div class="home-posts">

        {% for i in pr %}
          
        

        <div class="home-post">
            <div class="post-image">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for im in pr_img %}
                        
                            {% if i.id is im.Rental_Property.id %}
                            <div class="carousel-item active">
                                <img src="{{im.image.url}}" class="d-block w-100" alt="...">
                            </div>
                            {% endif %}

                        {% endfor %}

                    </div>
                 </div>
            </div>

            <div class="post-content">
                
                
                 <p class="card-text"><h5>{{i.title}}</h5></p>

                 <p style="font-size: small;">Rent for {{i.rents_for}} | {{i.numbers_of_beds}} Beds | {{i.numbers_of_bath}} Baths | Area : {{i.apartment_area}} {{i.area_unit}}</p>
                 
                 
                 <p style="font-size: smaller;">{{i.description | truncatewords:30}}</p>


                 <a class="post-btn" href="{% url 'profile_detail_post' i.Landlord.user.username i.slug %}"> Read More </a>
                 
            </div>
        </div>
        
        {% endfor %}


    </div>
</div>


{% endblock home_content %}

