{% extends "base.html" %}
{% load static %}

{% block title %}
Online House Rental | {{ user.username }}
{% endblock title %}


{% block more_link %}
<link href="{% static 'css/edit_profile.css' %}" rel="stylesheet">
<!-- <link href="{% static 'css/profile.css' %}" rel="stylesheet"> -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock more_link %}
    



{% block  home_content %}


<div class="container">


    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'profile_post' user.username %}">Profile</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit-Profile</li>
            </ol>
            </nav>
        </div>
    </div>

   <div class="row">
      <div class="col-md-12">
         <div id="content" class="content content-full-width">

            <!-- begin profile-content -->
            <div class="profile-content">
                <div class="container">
                    <div class="row gutters">

                        <!-- START Left Panel -->
                        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="account-settings">
                                        <div class="user-profile">
                                            <div class="user-avatar">
                                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin">
                                            </div>
                                            <h5 class="user-name">{{p.first_name}}</h5>
                                            <h6 class="user-email">{{user.email}}</h6>
                                        </div>
                                        
                                        <!-- list link START -->
                                        <div class="col-md-10 pt-0">
                                            <div class="list-group list-group-flush account-settings-links">
                                                <a class="list-group-item list-group-item-action" data-toggle="list" href="{% url 'edit_profile_general' user.username %}">General</a>
                                                <a class="list-group-item list-group-item-action active" data-toggle="list" href="{% url 'edit_profile_user_email' user.username %}">Username and Email</a>
                                                <a class="list-group-item list-group-item-action" data-toggle="list" href="{% url 'edit_profile_password' user.username %}">Change password</a>
                                                <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-social-links">Social links</a>
                                                <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-connections">Connections</a>
                                                <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-notifications">Notifications</a>
                                            </div>
                                        </div>
                                        <!-- list link END -->

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Left Panel -->


                        <!-- START Right Panel -->
                        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                            <div class="card h-100">
                                <div class="card-body">

                                    <!-- START first half -->
                                    <div class="row gutters">


                                        <!-- START User and Email -->
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <h6 class="mb-2 text-primary">Username and Email</h6>
                                        </div>
                        
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <label for="username">Username</label>
                                                <input type="text" class="form-control lower-case" id="username" name="username" value="{{user.username}}" placeholder="Enter a username">
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input type="email" class="form-control lower-case" id="email" name="email" value="{{user.email}}" placeholder="Enter email ID">
                                            </div>
                                        </div>

                                        

                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <h6 class="mb-2 text-primary">Current Password</h6>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <label for="password">Password</label>
                                                <input type="password" class="form-control" id="password" name="password" placeholder="Enter your current password">
                                            </div>
                                        </div>
                                        <!-- END User and Email -->
                                    </div>
                                    <!-- END first half -->
                                    



                                    <div class="row gutters">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="text-right">
                                                <button type="button" id="submit" name="submit" class="btn btn-secondary">Cancel</button>
                                                <button type="button" id="submit" name="submit" class="btn btn-primary">Update</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- END Right Panel -->

                    </div>
                </div>
            </div>
            <!-- begin profile-content -->
         </div>
      </div>
   </div>
</div>








{% endblock home_content %}






