<style>
    .otp-btn {
        background-color: #0dcaf0;
        color: white;
        padding: 8px 10px;
    }

    .otp-btn:hover {
        /* color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);*/
        border: 1px solid #0dcaf0;
        background-color: white;
        color: #0dcaf0;
    }

    .otp-form {
        width: 40%;
        margin: 10px auto;
    }
</style>
<div align="center" class="container-fluid">
    <h2> Enter OTP</h2>
    <input class="form-control otp-form" type="number" name="" id="" placeholder="otp">
    <button class="otp-btn" data-bs-toggle="modal" data-bs-target="#reset_pass" href="">Confirm</button>

</div>