<style>
    .rst-btn {
        background-color: #0dcaf0;
        color: white;
        padding: 8px 10px;
        width: 80%;
    }

    .rst-btn:hover {
        /* color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);*/
        border: 1px solid #0dcaf0;
        background-color: white;
        color: #0dcaf0;
    }
    .pass-rst{
        width: 80%;
        margin: 10px auto;
    }
</style>
<div align="center" class="container-fluid">
    <input class="form-control pass-rst" type="password" name="" id="" placeholder="new password">
    <input class="form-control pass-rst" type="password" name="" id="" placeholder="confirm password">
    <button class="rst-btn" data-bs-toggle="modal" data-bs-target="#reset_pass" href="">Reset Password</button>
</div>
