.btn-signup-custom {
    background-color: #0dcaf0;
    color: white;
}

.btn-signup-custom:hover {
    /* color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);*/
    border-color: #0dcaf0;
    background-color: white;
    color: #0dcaf0;
} 