.btn-custom{
    background-color: white;
    color: #000000;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}
.btn-custom:hover{
    color: #0dcaf0;
    border-color: #0dcaf0;
}
.logo{
    width: 100px;
}
.navbar-brand,
.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    /* font-size: var(--bs-nav-link-font-size); */
    /* font-weight: var(--bs-nav-link-font-weight); */
    color: #000000;
    text-decoration: none;
    border: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    /* color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1)); */
}

.nav-link{
    position: relative;
}

.nav-link:after{
    content: "";
    position: absolute;
    background-color: #0dcaf0;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0;
    transition: 0.3s;
}
.nav-link:hover:after{
    width: 100%;
}
.nav-link:hover{
    color: #0dcaf0;
}

nav {
    /* opacity: 1; */
    background-color: hwb(0 100% 0% / 0.384);
    backdrop-filter: blur(8px);
}

.dropdown-menu,
.dropdown-item{
    background-color: white;
    color: #000000;
}
.dropdown-item:hover{
    background-color: #0dcaf0;
    color: rgb(255, 255, 255);
}


.notify-button:hover .notify-button .custom-notification{
    background-color: white;
}
/* .navbutton{
    color: #0dcaf0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    
} 
.navbutton :hover{ 
    background-color: white;
} */
